<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Calendario</title>
    <link rel="stylesheet" href="../static/Styles/calendar.css">
    <script src="https://kit.fontawesome.com/c169e6af85.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="header-content">
            <a href="/templates/index.html" class="name">H A B I T S</a>
            <a href="/templates/register.html" class="register"><i class="fa-regular fa-user"></i></a>
        </div>
    </header>
    <main>
        <aside>
            <a href=""><p><i class="fa-solid fa-list"></i> Mis listas</p></a>
        </aside>
        <div class="contenedor-padre">
            <div class="calenedar">
                <div class="arriba">
                    <div class="fecha">
                        <h4 id="mes-calendario"></h4>
                        <h4>de</h4>
                        <h4 id="anio">2024</h4>
                    </div>
                    <div class="flechas">
                        <button href="" id="flecha-izq-calendar"><i class="fa-solid fa-arrow-left"></i></button><button href="" id="flecha-der-calendar"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="dias">
                    <p class="semana">Lun</p>
                    <p class="semana">Mar</p>
                    <p class="semana">Mier</p>
                    <p class="semana">Jue</p>
                    <p class="semana">Vie</p>
                    <p class="semana">Sab</p>
                    <p class="semana">Dom</p>
                    <!-- Aca se van a ir agregando los dias usando js -->
                </div>      
            </div>
            <div class="tareas-diarias">
                <div class="fecha-tarea">
                    <h4 id="dia-tareas">Sabado</h4>
                    <h4 id="diaNro-tareas">31</h4>
                    <h4>de</h4>
                    <h4 id="mes-tareas">Agosto</h4>
                </div>
                <div class="tarea-pendiente" id = "eliminar-tarea">
                    <div class="contenido">
                        <p>Hacer la cama</p>
                        <p>Horario: 8:00 am - 9:30 am</p>
                        <p>Descripcion: Acordarse de hacer la cama</p>
                        <p>Fecha: Sabado 31 de Agosto</p>
                    </div>
                    <div class="icons">
                        <i class="fa-solid fa-ellipsis-vertical" id = "opciones"></i>
                        <button class="fa-regular fa-square-check check" id = "tarea-completada"></button>
                    </div>

                    <div class="modal" id="modalEliminarTarea" style="display: none;">
                        <div class="modal-contenido">
                            <span class="cerrar-modal">&times;</span>
                            <p>¿Estás seguro de que deseas eliminar esta tarea?</p>
                            <button id="confirmarEliminar">Eliminar</button>
                        </div>
                    </div> 
                </div>          
            </div>
        </div>
        <script src="../js/calendar.js"></script>
    </main>
</body>
</html>