<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <p class="name">H A B I T S</p>
            <a href="#" class="register"><i class="fa-regular fa-user"></i></a>
        </div>
    </header>
    <main class="main">
        <div class="main-content">
            <h1 class="titulo">habits</h1>
            <p class="info">En habits buscamos que puedas organizar tu dia a dia 
                y controlar tus tareas diarias de una manera
                sencilla y muy sostificada.</p>
        </div>
    </main>
    <section class="data">
        <div class="data-content">
            <i class="fa-solid fa-globe"></i>
            <h2>¿De que trata nuestra pagina web?</h2>
            <p>Habits consta de una aplicacion en la cual contaras con distintas herramientas
                para poder organizar tu vida, habitos, de manera que estes al tanto de las tareas
                que debes cumplir a lo largo del año. </p>
        </div>
    </section>
    <footer class="footer">

    </footer>

    <script src="https://kit.fontawesome.com/b36a603077.js" crossorigin="anonymous"></script>
</body>
</html>