<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/login.css') }}">



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    
    
    <script src="https://kit.fontawesome.com/c169e6af85.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="header-content">
            <a href="{{ url_for('home') }}" class="name">H A B I T S</a>
            <a href="{{ url_for('register') }}" class="register"><i class="fa-regular fa-user"></i></a>
        </div>
    </header>
    <section class="login"> <!--Agregado para separar las secciones-->
        <div class="login-conteiner">
            <div class="inicia-sesion">
                <i class="fa-regular fa-user"></i>
                <p>Inicia sesion</p>
            </div>
            <div class="login-forms">
                <form action="acceso_login" class="formulario" id="formulario" method="post">
                    <div class="forms">
                        <input type="text" id="gmail" name="gmail" placeholder="Gmail">
                        <div class="campo-error" id="error-gmail"></div>
                        <input type="password" id="password" name="password" placeholder="Contraseña">
                    </div>
                    <div class="login-link">
                        <button type="submit" class="btn-inicio">INICIA SESION</button>
                        
                        <p>¿No tienes una cuenta creada aun? <a href="{{ url_for('register') }}">Registrate</a></p>

                        <div class="mensaje_error" id="mensaje">
                            {% if mensaje %}
                            <p>
                                {{ mensaje }}
                            </p>
                            {% endif %}   
                        </div>
                        <div class="mensaje_exito">
                            {% if mensaje2 %}
                            <p>
                                {{ mensaje2 }}
                            </p>
                            {% endif %}                                
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <!-- Cambio en los nombres de las clases para mejor practica -->
    </section>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
</html>