<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
    <link rel="stylesheet" href="../styles/MisTareas.css">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <a href="/templates/index.html" class="name">H A B I T S</a>
            <a href="/templates/register.html" class="register"><i class="fa-regular fa-user"></i></a>
        </div>
    </header>

    <section class="container-estructura">    
        <aside class="aside">
            <div class="aside-contenido">
                <div class="configuraciones">
                    <p>Configuraciones</p>
                    <a href="#" class="mis-listas"><i class="fa-regular fa-rectangle-list"></i>Mis listas</a></li>
                    <a href="#" class="mis-listas"><i class="fa-regular fa-calendar-days"></i>Mi calendario</a></li>
                </div>
            
                <div class="listas">
                    <p>Listas</p>
                    <ul>
                        <li>Nombre lista 1</li>
                    </ul>
                </div>
           
                <div class="fechas-destacadas">
                    <p>Fechas Destacadas</p>
                </div>
            </div>
        </aside>

        <div class="main-conteiner">
            <div class="main-text">
                <p class="mis-tareas">Mis Tareas</p>
            </div>
            
            <div class="tarea-padre">
                <p class="fecha">Sabado</p>
                <div class="tarea-padre-2">
                    <div class="titulo-padre-2"><h5>Tareas</h5></div>
                    <div class="conteiner-card">
                        <p class="todas1-titulo">Titulo:</p>
                        <p class="Editar">Editar</p>
                        <p class="horario">HORARIO: </p>
                        <p class="descripcion">Descripcion:</h6>
                        <div class="tick"><img src="../imagenes/tick.png" width="30px"></div>
                    </div>
                    <br>
                    <div class="nuevas-tareas">
                        <div class="imagen-agregar"><a href="#"><i class="fa-regular fa-square-plus"></i><h6>agregar nueva tarea</h6></a></div>
                    </div>
                </div>    
            </div>
        </div>
    </section> 

   

    
    <script src="https://kit.fontawesome.com/b36a603077.js" crossorigin="anonymous"></script>
</body>
</html>