* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
}

/* Header */
.header {
    background-color: #FBFBFB;
    width: 100%; 
    height: 80px;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.header-content{
    padding: 0 30px 0 30px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between ; 
    align-items: center; 
}


.name {
    
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}


.register {
    position: relative;
    right: 0;
    color: black;
}

.register i{
    font-size: 30px;
}

.register i:hover{
    color: rgb(59, 152, 219);
    transition: 250ms;
}

.calendar {
    position: absolute;
    right: 0;
    margin-right: 100px;
    color: black;
}

.calendar i{
    font-size: 30px;
}

.calendar i:hover{
    color: rgb(59, 152, 219);
    transition: 250ms;
}

/* Main */

.encabezado {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    margin-left: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}

.container p{
    margin-left: 40px;
}

.lista-contacto{
    margin-left: 80px;
    list-style-type: none;
}

.container-forms{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    
}

.container-forms p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

label{
    display: flex;
}


input[type="text"],
input[type="email"],
textarea {
    width: 800px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

input{
    border: solid 2px lightslategray;
    color: lightslategray;
    font-size: 1.8vh;
    width: 100%;
    height: 6.2vh;
    margin-bottom: 13%;
    padding: 0 0 0 3%;
    background-color: #F5F5F5;
}

.btn-enviar{
    display: flex;
    justify-content: center;
    width: 800px;
    padding: 10px;
    border: none;
    border-radius:10px;
}

.btn-enviar:hover {
    background-color: rgb(59, 152, 219);
    transition: 500ms;
    cursor: pointer;
}