* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}



  
.aside, .main {
    flex-grow: 1;
    flex-basis: 100%;
    padding: 20px;
} 
  
.header {
    background-color: #F6F6F6;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.header-content {
    padding: 0 30px 0 30px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.name {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.register {
    position: relative;
    right: 0;
    color: black;
}
  
.register i {
    font-size: 30px;
}


/* Siguiente */
.container-estructura {
    width: 100%;
    height: 100%;
    display: flex;
}
/* ASIDE */
.aside{
    box-shadow: 3px 0px 5px grey;
    flex-grow: 1;
    flex-basis: 0;
} 

.aside-contenido{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 10px;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.configuraciones{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.configuraciones p{
    font-weight: 500;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 2.4vh;
}

.configuraciones a{
    font-weight: 500;
    margin-bottom: 20px;
    width: 200px;
    padding: 15px;
    border-radius: 20px;
    background-color: #FFFFFF;
    text-decoration: none;
    color: black;
}

.configuraciones a:hover{
  background-color: #DBDBDB;
}

.fa-calendar-days{
    color: #56A1CC;
    margin-right: 8px;
}

.fa-rectangle-list{
    color: #56A1CC;
    margin-right: 8px;
}

.listas{
    font-weight: 600;
    font-size: 2.2vh;
}

.listas ul{
    margin-top: 10px;
}

.listas li{
    font-weight: 400;
    font-size: 2vh;
    margin-left: 30px;
}


.fechas-destacadas{
    margin-top: 50px;
    font-weight: 600;
    font-size: 2.2vh;

}

.tarea-padre {
    border-radius: 15px;
    background-color: #f1f1f1;
    margin: 20px;
    padding: 20px;
}
  

.main-text{
    display: flex;
    width: 99%;
    align-items: center;
    justify-content: space-between;
}
.mis-tareas{
   font-size: 2.4vh;
   font-weight: 600;
   display: flex;
}

.ver-siguiente-mes{
    display: flex;
    padding-right: 5px;
    display: flex;
    color: #56A1CC;
}

.conteiner-card{
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 15px;
    background-color: #e4e4e4;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
    margin-left: 10px;
    
}
  

  
.tick {
    text-align: right;
}

.nuevas-tareas {
    text-align: center;
    padding: 5%;
    border-radius: 15px;
    border: 2px solid blue;
    background-color: #f1f1f1;
}
 

/* MAIN */

.main-conteiner{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    flex-grow: 8;
    flex-basis: 0;
}

.main-text{
    display: flex;
    margin: 10px 0 10px 0;
}

.todas1-titulo{
    font-weight: 600;
    font-size: 2.2vh;
}

.Editar{
    font-weight: 300;
    font-size: 2.2vh;
}

.horario{
    font-weight: 300;
    font-size: 2.2vh;
}

.descripcion{
    font-weight: 300;
    font-size: 2.2vh;
}

.tick{
    width: 100%;
    font-weight: 300;
    font-size: 2.2vh;
}

   /*@media only screen and (max-width: 600px) {
    .container-estructura {
      display: flex;
    }
    .container-estructura {
      flex-direction: row;
    }
    .aside {
      flex: 1 1 auto;
    }
  }/*
  
  /*Small devices (600px and up)*/
  /*@media only screen and (min-width: 600px) {
    .container-estructura {
      display: flex;
    }
    .container-estructura {
      flex-direction: row;
    }
    .aside {
      flex: 1 1 auto;
    }
  }/*
  /*Medium devices (768px and up) */
  /*@media only screen and (min-width: 768px) {
    .main {
      flex: 4 0;
    }
    .header {
      order: 1;
    }
    .aside {
      order: 2;
    }
    .main {
      order: 3;
    }
  }/*
 /*@media only screen and (min-width: 992px) {
    .main {
      flex: 5 0;
    }
    .header {
      order: 1;
    }
    .aside {
      order: 2;
    }
    .main {
      order: 3;
    }
  }/*
  /* Extra large devices (1200px and up) */
  /*@media only screen and (min-width: 1200px) {
    .main {
      flex: 6 0;
    }
    .header {
      order: 1;
    }
    .aside {
      order: 2;
    }
    .main {
      order: 3;}
    }/*